<h2>Sections</h2>

<ul>
  <% @sections.each do |section| %>
  <li><a href="/sections/<%= section.slug %>"> <%= section.name %></a></li>
  <% end %>
</ul>


<h3>Add a Section</h3>

<form action="/sections/" method="post">
  <br><label for="section_name">Name:</label>
  <input id="section_name" name="section[name]" type="text">
  <label for="section_chapter_id"><select id="section_chapter_id" name="section[chapter_id]">
    <% Chapter.all.order(:name).each do |chapter| %>
      <option value="<%= chapter.id %>"><%= chapter.name %></option>
    <% end %>
  </select>
  <button>Add Section</button>
</form>
