<h2>Lessons</h2>

<ul>
  <% @lessons.each do |lesson| %>
  <li><a href="/lessons/<%= lesson.slug %>"> <%= lesson.name %></a></li>
  <% end %>
</ul>


<h3>Add a Lesson</h3>

<form action="/lessons/" method="post">
  <br><label for="lesson_name">Name:</label>
  <input id="lesson_name" name="lesson[name]" type="text">
  <br><label for="lesson_content">Content:</label>
  <textarea rows="4" cols="50" name="lesson[content]">
  </textarea>
  <br><label for="lesson_number">Lesson Number:</label>
  <input id="lesson_number" name="lesson[number]" type="text">
  <select name="lesson[section_id]">
    <% Section.all.order(:name).each do |section| %>
      <option value="<%= section.id %>"><%= section.name %></option>
    <% end %>
  </select>
  <button>Add Lesson</button>
</form>
